.login-section {
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: black 2px solid;
    margin: 40px 40px 40px 40px;
    border-radius: 50px;
    background-color: rgba(122, 108, 108, 0.493);
}
